.btn
{
	text-transform : uppercase;
}

.breadcrumb
{
	font-size   : $font-size-sm;
	color       : $text-muted;
	font-weight : 300;
}

.navbar
{
	font-family   : $font-fancy;
	font-weight   : lighter;
	background    : $dark-lighten;
	padding-right : 0;
	
	@at-root footer
	{
		margin-top : 6rem;
		
		&.navbar
		{
			font-size      : $font-size-sm;
			padding-bottom : 60px;
			padding-right  : $navbar-padding-x;
		}
		
		.navbar-brand
		{
			position : initial;
			
			@include media-breakpoint-down(sm)
			{
				text-align    : center;
				display       : block;
				width         : 100%;
				margin-bottom : 1rem;
			}
		}
	}
	
	@include media-breakpoint-down(sm)
	{
		text-align : center;
	}
}

.navbar-nav .nav-link
{
	@include media-breakpoint-down(sm)
	{
		display        : block;
		padding-top    : .5rem;
		padding-bottom : .5rem;
	}
}

.navbar-brand
{
	margin     : 0;
	padding    : 0;
	align-self : flex-start;
}
