.book-cover
{
	position : absolute;
	top      : -10%;
	left     : -10%;
	bottom   : -10%;
	right    : 0;
	
	@include media-breakpoint-down(lg)
	{
		top    : 0%;
		bottom : 0%;
		left   : -15%;
	}
	
	@include media-breakpoint-down(md)
	{
		top    : 10%;
		bottom : 10%;
		left   : -25%;
	}
	
	@include media-breakpoint-down(sm)
	{
		position   : initial;
		background : none;
		text-align : center;
	}
	
	img
	{
		display : inline-block;
	}
}

