.m-list
{
	.m-list-title
	{
		@extend .container;
		@extend .mb-3;
	}
	
	.m-list-item
	{
		background : $gray-100;
		
		& + .m-list-item
		{
			margin-top : 1rem;
		}
		
		> .container
		{
			display         : flex;
			flex-direction  : row;
			align-items     : center;
			justify-content : space-between;
			padding-top     : 1.6rem;
			padding-bottom  : 1.6rem;
			
			@include media-breakpoint-down(sm)
			{
				display : block;
			}
		}
		
		h6
		{
			color          : $body-color;
			letter-spacing : 1px;
			margin-bottom  : .5rem;
		}
		
		p
		{
			color       : $gray-500;
			font-size   : $font-size-sm;
			font-weight : 100;
			margin      : 0;
		}
		
		.btn
		{
			border-color : darken(desaturate(adjust-hue(#e7e3d5, -1), 7.87), 0.20);
			background   : lighten($gray-100, 1%);
		}
		
	}
	
	&.dark
	{
		.m-list-title
		{
			color : $gold;
		}
		
		.m-list-item
		{
			background : $dark;
			
			h6
			{
				color : $white;
			}
			
			p
			{
				color : lighten(desaturate(adjust-hue($dark-lighten, -2), 22.37), 33.14);
			}
			
			.btn
			{
				color            : $white;
				border-color     : lighten($dark-lighten, 5%);
				background-color : $dark-lighten;
			}
		}
	}
}

