.btn-price
{
	position       : relative;
	padding-top    : .375rem;
	padding-bottom : .375rem;
	padding-right  : .375rem;
	white-space    : nowrap;
	display        : inline-flex;
	align-items    : center;

	@include media-breakpoint-down(sm) {
		margin-right: auto !important;
	}

	> .badge
	{
		margin  : 0 0 0 .75rem;
		padding : $btn-padding-y;
	}
}
