.checkout-review-order
{
	margin     : 0;
	padding    : 2rem 4rem;
	list-style : none;
	background : $gray-100;
	
	@include media-breakpoint-down(md)
	{
		padding    : 1.5rem;
	}
	
	> li
	{
		padding         : .5rem 0;
		display         : flex;
		flex-direction  : row;
		justify-content : space-between;
		
		.total
		{
			color : $primary;
		}
	}
}

.checkout-review-order-total
{
	padding    : 2rem 4rem;
	text-align : right;
	
	.amount
	{
		color     : $primary;
		font-size : $font-size-lg;
	}
}