[data-letter]
{
	position : relative;

	&::before
	{
		content     : attr(data-letter);
		position    : absolute;
		text-transform: uppercase;
		top         : 1rem;
		left        : -5rem;
		font-family : $font-fancy;
		color       : $gray-100;
		font-size   : 190px;
		font-weight : 600;
		z-index     : -1;
		user-select : none;
		line-height : .5rem;

		@include media-breakpoint-down(lg) {
			left      : -3rem;
		}

		@include media-breakpoint-down(md)
		{
			font-size : 120px;
			left      : -4rem;
		}

		@include media-breakpoint-down(sm)
		{
			font-size : 100px;
			top       : 1rem;
			left      : -1em;
		}
	}
}
