#event
{
	h5, h6
	{
		margin-bottom : 2rem;
	}
}

#program
{
	margin-bottom : 2rem;
	
	strong
	{
		color      : $primary;
		margin-top : 1rem;
	}
	
	ul
	{
		margin       : 0;
		padding-left : 1.5rem;
		list-style   : none;
	}
	
	ul li::before
	{
		content     : "\2022";
		color       : $primary;
		font-weight : bold;
		display     : inline-block;
		width       : 1em;
		margin-left : -1em;
	}
}

.tribe-link-view-attendee
{
	text-align : center;
	padding    : 2rem 0;
}

#tickets
{
	.ticket-item
	{
		background : $gray-100;
		padding    : 2rem 0;
	}
	
	.ticket-item + .ticket-item
	{
		margin-top : .5rem;
	}
	
	.ticket-name
	{
		font-family : $font-fancy;
		font-size   : $h5-font-size;
		font-weight : 600;
		margin      : 0 0 .5rem 0;
	}
	
	.ticket-description
	{
		font-weight : 300;
		font-size   : $font-size-sm;
	}
	
	.ticket-price
	{
		color     : $primary;
		font-size : $h4-font-size;
	}
	
	.ticket-available
	{
		font-size     : $font-size-sm;
		color         : $text-muted;
		margin-bottom : .75rem;
	}
	
	.quantity .input-text
	{
		@extend .form-control;
		@extend .form-control-sm;
		
		text-align : center;
	}
}

.free-form {
	margin-top: -25px;
	display: none;

	textarea {
		min-height: 135px;
	}

	textarea::placeholder,
	input::placeholder {
		opacity: .6;
	}
}

.free-form__button {
	padding: 10px 20px;
	font-weight: 600px;
}

.free-form__input {
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	label {
		@include media-breakpoint-up(lg) {
			width: 25%;
			text-align: right;
			padding-right: 20px;
		}
	}

	span {
		@include media-breakpoint-up(lg) {
			width: 75%;
		}
	}
}

#mentoring_type_spreker + span + .price-custom {
	opacity: 0;
	visibility: hidden;
}

.inputs-text {
	display: block;
	width: 100%;
	height: calc(1.5em + 2.3rem + 2px);
	padding: 1.15rem 1.25rem;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.free-form__input {
	width: 100%;
	text-align: left;

	&:not(:first-of-type) {
		padding: 3px 0 0 0;
	}
}

.labels-tag {
	display: inline-block;
	margin-bottom: 0.5rem;
}

div.tickets-unavailable {
	margin: 0 auto;
	padding: 0 15px;
	font-style: normal;

	@include media-breakpoint-up(sm) {
		max-width: 540px;
	}

	@include media-breakpoint-up(md) {
		max-width: 720px;
	}

	@include media-breakpoint-up(lg) {
		max-width: 960px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 1140px;
	}	
}
