.extra-options
{
	.label
	{
		width         : 25%;
		text-align    : right;
		padding-right : 20px;
	}
	
	@include media-breakpoint-down(md)
	{
		&, tbody, tr:not(.thwepo-conditional-field), td
		{
			display    : block !important;
			text-align : left;
		}
		
		tr:not([style="display: none;"])
		{
			display : block !important;
		}
		
		.label
		{
			width      : 100%;
			text-align : left;
			padding    : 10px 0 0 0;
		}
	}
}

.mentoring-type
{
	> .label
	{
		display : none !important;
	}
	
	> .value
	{
		padding-bottom : 40px;
		
		> label
		{
			display             : flex;
			flex-direction      : row;
			background          : $gold;
			width               : 48%;
			margin              : 1% !important;
			padding             : 10px 15px 10px 70px;
			float               : left;
			position            : relative;
			cursor              : pointer;
			font-size           : $font-size-sm;
			min-height          : 80px;
			align-items         : center;
			text-align          : left;
			justify-content     : space-between;
			
			background-color    : lighten(desaturate(adjust-hue(#e7e3d5, -7), 9.63), 9.61);
			background-image    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23e3e2e2' d='M10,0A10,10,0,1,0,20,10,10,10,0,0,0,10,0Zm0,18.65A8.65,8.65,0,1,1,18.65,10,8.66,8.66,0,0,1,10,18.65Z'/%3E%3C/svg%3E");
			background-repeat   : no-repeat;
			background-position : 25px center;
			background-size     : 20px 20px;
			
			> span
			{
				> strong,
				> small
				{
					display : block;
				}
				
				> small
				{
					color : $gray-600;
				}
			}
			
			> input
			{
				position : absolute;
				z-index  : -1;
				opacity  : 0;
			}
			
			.price-custom
			{
				font-size : 1rem;
				display   : block;
				padding   : 0 10px;
			}
			
			&.active
			{
				color            : $white;
				background-color : $primary;
				background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M10,0A10,10,0,1,0,20,10,10,10,0,0,0,10,0Zm6.34,6.34-8.4,8.4A.78.78,0,0,1,7.4,15a.74.74,0,0,1-.54-.23L3,10.92A.76.76,0,1,1,4.12,9.84L7.4,13.12l7.86-7.86a.76.76,0,1,1,1.08,1.08Z'/%3E%3C/svg%3E");
				
				> span > small
				{
					color : $white;
				}
			}
			
			@include media-breakpoint-down(md)
			{
				float  : none;
				width  : 100%;
				margin : 10px 0 !important;
			}
		}
	}
	
	/*
	
	> .value
	{
		display: table-cell!important;  width: 1%;
		
		column-span         : all; !* W3C *!
		-webkit-column-span : all; !* Safari & Chrome *!
		-moz-column-span    : all; !* Firefox *!
		-ms-column-span     : all; !* Internet Explorer *!
		-o-column-span      : all; !* Opera *!
	}*/
}