h5
{
	color       : $body-color;
	font-weight : 800;
}

h6
{
	color       : $body-color;
	font-weight : 800;
}

img
{
	@include img-fluid();
}

article
{
	font-weight : 300;
}

time
{
	font-weight : bold;
}

address
{
	font-style : normal;
	color      : $text-muted;
	font-size  : $font-size-sm;
	
	@include media-breakpoint-down(md)
	{
		font-size : $font-size-base;
	}
}

article
{
	margin-top : 4rem;
}

article + article
{
	margin-top : 10rem;
	
	@include media-breakpoint-down(md)
	{
		margin-top : 5rem;
	}
}
