.woocommerce-info
{
	background-color : $dark-light !important;
}

.woocommerce-error
{
	background-color : $danger !important;
}

.woocommerce-message
{
	background-color : $success !important;
}

.wcppec-checkout-buttons,
.wcppec-cart-widget-spb
{
	// display : none;
}