.menu-item
{
	@extend .nav-item;
}

.menu-item > a
{
	@extend .nav-link;
}

.woocommerce
{
	@include clearfix();
}

.breadcrumb .breadcrumb-item a
{
	color : $gray-600;
}

body
{
	position : relative;
	// min-height : calc(100vh - (87px + 132px));
}

#main-nav
{
	margin : 25px 0;
}

.container.container.container
{
	@include media-breakpoint-down(sm)
	{
		padding-left  : 20px;
		padding-right : 20px;
	}
}

nav + div:not(.hero)
{
	margin-top : 4rem;
}

.footer-social
{
	display         : flex;
	justify-content : flex-end;
	width           : 100%;
	padding         : 15px 0 40px;
	
	@include media-breakpoint-down(sm)
	{
		justify-content : center;
	}
	
	li
	{
		list-style : none;
		
		@include media-breakpoint-up(lg)
		{
			margin-right : 1.5rem;
		}
		
		&:not(:last-child)
		{
			margin-right : 40px;
			
			@include media-breakpoint-down(sm)
			{
				margin-right : 30px;
			}
		}
		
		&:hover
		{
			a::before
			{
				background : #1c2833;
			}
			
			svg
			{
				fill : #414c56;
			}
		}
	}
	
	a
	{
		position : relative;
		
		&::before
		{
			content       : '';
			position      : absolute;
			width         : 45px;
			height        : 45px;
			border-radius : 50%;
			background    : #414c56;
			top           : 60%;
			left          : 50%;
			transform     : translate(-50%, -50%);
			transition    : background .2s ease;
			
			@include media-breakpoint-down(sm)
			{
				width  : 35px;
				height : 35px;
			}
		}
	}
	
	svg
	{
		position   : relative;
		width      : 20px;
		height     : 20px;
		fill       : #1c2833;
		transition : fill .2s ease;
		
		@include media-breakpoint-down(sm)
		{
			width  : 15px;
			height : 15px;
		}
	}
}

.post-thumbnail
{
	position    : relative;
	padding-top : 250px;
	overflow    : hidden;
	
	img
	{
		position : absolute;
		top      : 0;
		left     : 0;
		width    : 100%;
	}
}
