.comments-title
{
	margin-left   : 2rem;
	margin-bottom : 2rem;
}

.comment-list
{
	list-style : none;
	padding    : 0;
	
	img
	{
		display : none;
	}
	
	> li
	{
		background : $gray-100;
		margin     : .25rem 0;
		
		.comment-body
		{
			padding : 2rem;
		}
		
		.comment-meta
		{
			margin-bottom  : .5rem;
			display        : flex;
			flex-direction : row;
			align-items    : center;
			
			a
			{
				color : $body-color !important;
			}
			
			time
			{
				font-weight : 100;
			}
			
			.comment-author
			{
				font-weight   : bold;
				margin-right  : 1rem;
				padding-right : 1rem;
				border-right  : 1px solid $gray-200;
				
				cite
				{
					font-style : normal;
				}
			}
		}
	}
}

// post comment
.comment-respond
{
	.comment
	{
		background : $gray-100;
		padding    : 30px 45px;
		margin     : 0 0 15px;
	}
	
	.comment-body
	{
		.comment-author
		{
			display     : inline-block;
			padding     : 0 15px 0 0;
			font-size   : 15px;
			font-weight : 600;
			color       : $gray-600;
			
			.fn
			{
				font-style : normal;
			}
		}
		
		.comment-meta
		{
			display : inline-block;
			
			a
			{
				font-size   : 14px;
				font-weight : 100;
				color       : $gray-600;
			}
		}
		
		p
		{
			display     : block;
			color       : $gray-600;
			flex        : 1 1 100%;
			padding     : 20px 0 0;
			font-size   : 14px;
			font-weight : 100;
			text-align  : left;
		}
	}
}