$font-fancy: 'Noto Serif SC', serif;

@import "../node_modules/bootstrap/scss/functions";
@import "bootstrap/variables";

$gold: #e7e3d5;
$dark-light: lighten(desaturate(adjust-hue($dark, -2), 25.23), 50.78);
$dark-lighten: lighten(desaturate($dark, 3.33), 2.75);

@import "../node_modules/bootstrap/scss/variables";
